body {
  background-color: #e2edff;
}
.header {
  padding: 2rem 1rem;
  background-color: #aecdfe;
}
#banner {
  background-color: #ffffff;
}
#card {
  background-color: #e2edff;
}
.kata {
  background-color: #ffffff;
}
